/* Selector universal */

/*
*{
    background-color: aqua;
} 

En cada selector, viene un selector universal implicito.
*.peliculas{
    color: crimson;
}
Esto es lo mismo que sin el *, porque estamos diciendo que
peliculas se le aplique a todos los elementos que contengan
peliculas
*/

/* Selector de tipo: selecciona por el nombre de la etiqueta */
body{
    font-family: 'Arial';
}

li{
    color: slateblue;
    font-size: 20px;
}

/* Selector de clase: selecciona a elementos por el nombre dentro del atributo class */

.peliculas{
    color: crimson;
}

.series{
    font-size: 40px;
}

.favoritas{
    font-weight: bold;
    color: rebeccapurple;
}

.espaciado{
    letter-spacing: 10px;
}

/* Selector de ID */
#spidermanNoWayHome{
    font-size: 25px;
}

#temporada3{
    color: seagreen;
    font-size: 14px;
}